@import url('https://fonts.googleapis.com/css?family=Roboto:700');

#main_body2 {
    margin:0 auto;
    font-family:'Roboto';
    text-align:center;
    background-color: #f1eaea;
    width:100%;
    height: 80vh;
}

#hi-container {
    color:#999;
    text-transform: uppercase;
    font-size:40px;
    font-weight:bold;
    padding-top:300px;
    width:100%;
    bottom:45%;
    display:block;
}

#flip {
    height:60px;
    overflow:hidden;
}

#flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background:#c69090;
}
#flip div:first-child div {
    background:#94b1b9;
}
#flip div:last-child div {
    background:#605C59;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}
