<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HelloWorld</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>Main.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>kr.co.jsplec.ex.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleEx</display-name>
    <servlet-name>LifeCycleEx</servlet-name>
    <servlet-class>kr.co.jsplec.ex.LifeCycleEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleEx</servlet-name>
    <url-pattern>/LifeCycleEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FromEx</display-name>
    <servlet-name>FromEx</servlet-name>
    <servlet-class>kr.co.jsplec.ex.FromEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FromEx</servlet-name>
    <url-pattern>/FromEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinOk</display-name>
    <servlet-name>JoinOk</servlet-name>
    <servlet-class>kr.co.jsplec.ex.JoinOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinOk</servlet-name>
    <url-pattern>/JoinOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOk</display-name>
    <servlet-name>LoginOk</servlet-name>
    <servlet-class>kr.co.jsplec.ex.LoginOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOk</servlet-name>
    <url-pattern>/LoginOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>kr.co.jsplec.ex.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>